/* font-style */
/* .noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

/* Navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px 120px 150px;
}
.menu-items{
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}

/* Banner styles */
header section{
    max-width: 1140px;
}
.banner{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1140px;
    height: 441px;
    margin: 0 auto;
}
.banner-items{
    max-width: 570px;

}
.banner-items h1{
    font-size: 65px;
    margin-bottom: 10px;
}
.flower-info{
    font-size: 22px;
}
.img{
    max-width: 570px;
    /* margin: 106px 0 0 570px; */
    height: auto;
}

/* Plants section */
.plant-section{
    margin: 120px 150px 120px 150px;
    justify-content: center;
    align-items: center;
}
.our-plants{
    justify-content: center;
    text-align: center;
    margin: 120px 150px 18px 150px;
}
.plants-tile{
    font-size: 50px;
    font-weight: bold;
}
.plant-info{
    font-size: 22px;
}

.plant-product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap:5px;
    
}
.plants{
    box-shadow: 0 4 4 0;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.flower-img{
    border: none;
    border-radius: 8px;
}
.cartbtn{
    color: rgba(255, 255, 255, 1);
    background-color: #E95A08;
    width: 270px;
    height: 40px;
    padding: 20 80 20 80;
    border: none;
}

/* Flower lover */
.flower-lover-section{
    padding: 50px 20px; 
}
.flower-container{
    display: flex;
    max-width: 1140px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 100px;
}
.flower-lover-item{
    max-width: 540px;
    margin:38px 0 38px 60px;
}
.flower-lover-title{
    font-size: 50px;
    font-weight: bold;

}
.flower-lover-item ul {
    padding-left: 10px;
}
.flower-lover-item ul li{
    margin-bottom: 20px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);;
}
/* Deal section */
.deal-section{
    max-width: 1440px;
    text-align: center;
    margin: 0 auto;
}
.deal-section h3{
    font-size: 50px;
}
.deal-section p{
    font-size: 22px;
}

.deal-container{
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    text-align: center;
    gap: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.card-bloom{
    background-image: url(../images/deal-bloom.png);
    width: 365px;
    height: 206px;
}
.card-anna{
    background-image: url(../images/deal-ana.png);
    width: 365px;
    height: 200px;
}
.card-zabo{
    background-image: url(../images/deal-zabo.png);
    width: 750px;
    height: 430px;
}
.deal-details-small-cards{
    text-align: center;
    padding: 50px 47px;
}
.zabo-deal-details{
    text-align: center;
    padding: 120px 150px;
}
.card-anna, .card-bloom{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 14px;
}
.card-zabo{
    font-size: 40px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 22px;

}
.card-anna p,.card-bloom p, .card-zabo p{
    text-decoration: underline;
}


/* join section */
.join{
    background-image: url("../images/news-letter-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1440px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
}
.join-form{
    padding: 150px 300px;
}

.join-text{
    font-size: 50px;
    font-weight: bold;

}
.Subscribe{
    display: flex;
    justify-content: center;
}
.email{
    width: 370px;
    height: 38px;
    padding: 20 80 20 80;
    border: none;
}


/* Shared colors */
.dark1{
    color: #252432;
}
.dark2{
    color: #8987A1;
}
.orange{
    color: #E95A08;
}
.info-color{
    color: rgba(0, 0, 0, 0.5);
}
.join-text-color{
    color:rgba(255, 255, 255, 1); ;
}
/* Footer section */
.footer {
    max-width: 1440px;
}
.footer-items{
    max-width: 1140px;
    display: flex;
    justify-content: space-around;
    margin: 50px 150px;
    gap: auto;
}
.footer-left {
  max-width: 300px;
}

.footer-left .ifo {
  font-size: 16px;

}

.footer-links {
  display: flex;
  gap: 70px;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.footer-links ul li{
  text-decoration: none;
}

.footer-social {
  display: flex;
  align-items: start;
  gap: 15px;
}

.footer-social img {
  width: 24px;
  height: 24px;
}



@media screen and (max-width:576px){
    .navbar{
        justify-content:center;
        gap: 155px;
    }
    .menu-items li:not(.cart){
        display: none;
    }
    .banner{
        display:flex;
        flex-direction: column-reverse;
        margin-top: 100px;
    }
    .banner-items{
        justify-items: left;
    }
    .banner-items h1{
        font-size: 24px;
    }
    
    .img
    {
        width: 100%;
        height: auto;
    }

    /* our plants */
    .our-plants{
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .plants-tile{
        font-size: 30px;
    }
    .our-plants p{
        font-size: 20px;
        font-weight: 300px;
        text-align: center;
    }
    
    .plant-product{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    row-gap: 30px;
    column-gap:20px;
}

    .plants{
    box-shadow: 0 4 4 0;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

/* Flower lovers */
    .flower-container{
    display:block;
    justify-content: center;
    align-items: center;
}
    .flower-lover-img{
    width: 100%;
}
/* deal section */
.deal-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin:20px 65px;
    margin-bottom: 20px;
    
}
.card-zabo{
    background-image: url(../images/deal-zabo.png);
    width: 365px;
    height: 206px;
}
.card-zabo{
    font-size: 22px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 22px;}

.zabo-deal-details{
    text-align: center;
    padding: 50px 47px;
    margin-bottom: 20px;
}

/* Joint section */
.join{
    background-image: url("../images/news-letter-bg.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 393px;
    height: 276px;
    /* align center var&horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
}
.join-form{
    display: flex;
    flex-direction: column;
    align-items: centers;
    gap: 10px;
}
.join-text{
    width:100%;
    font-size: 20px;
    margin-bottom: 10;
    padding: 0;
}
.Subscribe{
    display: flex;
    justify-items: start;
    margin-top: 0px;
}

.email{
    font-size: 14px;
    width: 180px;;
    height: 20px;
    padding: 10px;
    border:1px solid gainsboro;

}
.cartbtn{
    color: rgba(255, 255, 255, 1);
    background-color: #E95A08;
    width: 100%;
    height:auto;
    padding: 13px 18px;
    border: none;
}
/* footer section */
 .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0 20px;
  }
  .footer-items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    margin: 50px auto;
    gap: 40px;
}

  .footer-left {
    font-size: 16px;
    font-weight: 400px;
    min-width: 250px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 0px;
  }
  .footer-links ul
  {
    gap: 0px;
  }
  .footer-links ul li a{
    gap: 0px;
  }

  .footer-social {
    display: flex;
    justify-content: start;
    margin-left:35px ;
    gap: 10px;
  }

  .footer-social img {
    width: 24px;
    height: 24px;
  } 
}